.navbar-default {
  background-color: transparent;
  border:none;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #d88c26;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #d88c26;
}
.navbar-default .navbar-nav > li > .dropdown-menu {



}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d88c26;
  background-color: #131313;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #131313;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #d88c26;
  background-color: #131313;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #d88c26;
  border-bottom: 4px double #d88c26;
  background-color: transparent;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #d88c26;
  background-color: #131313;
}
.navbar-default .navbar-toggle {
  border-color: #131313;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #131313;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #d88c26;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d88c26;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d88c26;
    background-color: #131313;
    border-bottom: 2px double #d88c26;
  }
}






.navbar-default_2 {
  background-color: #131313;
  border:none;
  -webkit-box-shadow: 2px 9px 28px 2px rgba(0,0,0,0.88);
  -moz-box-shadow: 2px 9px 28px 2px rgba(0,0,0,0.88);
  box-shadow: 2px 9px 28px 2px rgba(0,0,0,0.88);


}
.navbar-default_2 .navbar-brand {
  color: #ecf0f1;
}
.navbar-default_2 .navbar-brand:hover,
.navbar-default_2 .navbar-brand:focus {
  color: #d88c26;
}
.navbar-default_2 .navbar-text {
  color: #ecf0f1;
}
.navbar-default_2 .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default_2 .navbar-nav > li > a:hover,
.navbar-default_2 .navbar-nav > li > a:focus {
  color: #d88c26;
}
.navbar-default_2 .navbar-nav > li > .dropdown-menu {



}
.navbar-default_2 .navbar-nav > li > .dropdown-menu > li > a {
  color: #ecf0f1;
}
.navbar-default_2 .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default_2 .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #d88c26;
  background-color: #131313;
}
.navbar-default_2 .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #131313;
}
.navbar-default_2 .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default_2 .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default_2 .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #d88c26;
  background-color: #131313;
}
.navbar-default_2 .navbar-nav > .active > a,
.navbar-default_2 .navbar-nav > .active > a:hover,
.navbar-default_2 .navbar-nav > .active > a:focus {
  color: #d88c26;
  border-bottom: 4px double #d88c26;
  background-color: #000000;
}
.navbar-default_2 .navbar-nav > .open > a,
.navbar-default_2 .navbar-nav > .open > a:hover,
.navbar-default_2 .navbar-nav > .open > a:focus {
  color: #d88c26;
  background-color: #131313;
}
.navbar-default_2 .navbar-toggle {
  border-color: #131313;
}
.navbar-default_2 .navbar-toggle:hover,
.navbar-default_2 .navbar-toggle:focus {
  background-color: #131313;
}
.navbar-default_2 .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}




.navbar-default_2 .navbar-collapse,
.navbar-default_2 .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default_2 .navbar-link {
  color: #ecf0f1;
}
.navbar-default_2 .navbar-link:hover {
  color: #d88c26;
}

@media (max-width: 767px) {
  .navbar-default_2 .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default_2 .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default_2 .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #d88c26;
  }
  .navbar-default_2 .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default_2 .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default_2 .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #d88c26;
    background-color: #131313;
    border-bottom: 2px double #d88c26;
  }
}
