
/*!
 *  URL: Cerveceria402.mx
 *  Description: Cerveza artesanal mexicana
 *  Author: Vusumzi Belmont
 *  Version: 2.0
 *  Date : july 2016
 */


@import url("skeleton.css");
@import url("fonts/fonts.css");
@import url("navBar.css");

*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'introheadr-base', cursive;
  font-size: 1.1em;
  font: inherit;
  vertical-align: baseline;
}

html, body{
  height: 100%;

}

body{
	background-color: #262626;
	font-family: 'Open Sans Condensed', sans-serif;
}


.background{

    height: 100vh;
    width: 100%;
    position: fixed;
    background: url("../image/beer_wall_2.jpg") no-repeat center center;
    background-size: cover;
    -webkit-filter:brightness(40%);
    -ms-filter:brightness(40%);
    filter: brightness(40%);

    z-index: -1;

    overflow: -moz-scrollbars-vertical;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    -ms-overflow-y: hidden;
    -webkit-overflow-x: hidden;
    -webkit-overflow-y: hidden;
}

.hiidden{
  display: none;
}

.layer{
	width: 100%;
	position: absolute;
}


.centered_class{
width: 100%;
display: -webkit-flex; /* Safari */
  -webkit-justify-content: center; /* Safari 6.1+ */
  display: flex;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.sectParallax_1{
background-color: white;
min-height: 50vh;

-webkit-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.92);
-moz-box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.92);
box-shadow: 0px 0px 29px 10px rgba(0,0,0,0.92);
}


.parCont{
  height: 100vh;
  width: 100%;
}

.parCont_2{
  height: 50vh;
  width: 100%;
}

#beerperiscope{

}

.article-container{
  max-width: 800px;
}

#main_logo_container{
  border: 0;
  padding: 0;
  height: 100%;
  margin: 0;
  position: relative;

  display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}

#scroled_ellems{
  position: relative;
}




#main_logo{
    background: url("../image/mono_402.svg") no-repeat center center;
    background-size: auto;
    position : relative;
    margin: 0;
    margin-bottom: 60px;
    width: 100%;
    height: 200px;
	  padding: 23px;
	  opacity: 0.87;
}

#main_logo_container button{
  color: white;
  background-color: transparent;
  position : relative;
  padding: 12px;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 23px;
  margin: 0;
  border: 1px solid white;
  display: block;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

#about_Article{
	padding: 34px;
	max-width: 650px;
  text-align: justify;
}

#about_Article h2{
  font-weight: bolder;
}

#about_Article h3{
  margin-top: -2px;
  font-size: 1.2em;
	font-family: 'Lemonada', cursive;
}

#article-row{
    max-width: 940px;
    width: auto;
}

#article-row #side-img{
  padding: 14px;
  display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

#deco-line{
  width: 80px;
  height: 3px;
  margin-bottom: 12px;
  background-color: #d88c26;
}

#parallax-img-1{
  background-image: url("../image/Beer-Bottle.jpg");
  background-size: cover;
  background-position: center center;
  -webkit-filter:brightness(40%);
  -ms-filter:brightness(40%);
  filter: brightness(40%);
}

.parallax-title{
  font-family: 'Lemonada', cursive;
  color: white;
  font-size: 2.2em;
}

#font_parallax{
  width: 100%;
}
